//grid

$columns: 12;
$containerWidth: 800px;
$gutter: 15px;

$gridRWD: (
  xs: 575px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1600px,
);

$BreakPointsType: ("xs", "sm", "md", "lg", "xl", "hd");
$BreakPoints: list.length($BreakPointsType);
$gridRWDList: map.values($gridRWD);
