* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --block-width: 7.5vw;
    --block-height: 5.5vw;
    --block-distance: 1vw;
    --block-bottom: -7vw;
    --shadow-window: rgba(0, 0, 0, 0.137);
}

body {
    width: 100%;
    height: 100vh;
    background: gray;
    overflow: hidden;
    font-family: 'Road Rage', cursive;
}

.bottom-block-line {
    width: 100%;
    height: calc(var(--block-height) * 3.5 + 100px);
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.block {
    position: absolute;
    width: calc(var(--block-width) * 2.5);
    height: calc(var(--block-height) * 2.5);
    background: dimgrey;
    bottom: var(--block-bottom);
    right: calc(var(--block-distance) * 8);
    z-index: 10;
}

.windows {
    position: absolute;
    bottom: -8vw;
    right: 0vw;
    display: flex;
    justify-content: center;
    place-items: center;
}

.windows.two {
    bottom: 10vw;
}

.window.two::after {
    content: '';
    width: 100%;
    height: 1vw;
    background: rgb(160, 160, 101);
    position: absolute;
    border-radius: 1vw 1vw 0 0;
    bottom: 3.22vw;
    right: 0%;
}

.windows.four {
    bottom: 8vw;
    right: 2vw;
}

.windows.six {
    bottom: 9vw;
    right: -1vw;
}

.window.six:after {
    content: '';
    background: dimgrey;
    width: .25vw;
    height: 3.1vw;
    position: absolute;
    bottom: 0;
    right: calc(50% - .25vw/2);
}

.windows.sevenBR {
    bottom: 4vw;
}

.windows.sevenBL {
    bottom: 4vw;
    right: 17vw;
}

.windows.sevenTR {
    bottom: 9.5vw;
    right: 4vwvw;
}

.windows.sevenTL {
    bottom: 9.5vw;
    right: 17vw;
}

.windows.eight {
    bottom: 14.5vw;
    right: 0vw;

}

.window.eight {
    border: none;
    box-shadow: none;
    height: 3.5vw;
    width: 1.7vw;
    margin-right: 1.5vw;
}

.windows.eight.B {
    bottom: 9vw
}

.window.eight:before {
    display: none;
}

.windows.ten {
    bottom: 5vw;
    right: 3vw;
}

.windows.eleven {
    bottom: 5vw;
}



.window {
    position: relative;
    margin-right: 2vw;
    background: rgb(160, 160, 101);
    width: 2.2vw;
    height: 1.5vw;
    border-bottom: solid black;
    box-shadow: 0 -1.7vw 0 0 rgb(160, 160, 101);
}


.window:before {
    content: '';
    position: absolute;
    width: 2.6vw;
    background: black;
    height: .5vw;
    right: -0.2vw;
    bottom: -.5vw;
    box-shadow: 0 .5vw 0 0 var(--shadow-window);
}

.block.two {
    width: calc(var(--block-width) * 1.9);
    height: calc(var(--block-height) * 3);
    right: calc(var(--block-distance) * 30);
    z-index: 9;
}


.block.three {
    right: calc(var(--block-distance) * 43);
    height: calc(var(--block-height) * 1.5);
    z-index: 8;
}

.block.four {
    right: calc(var(--block-distance) * 64);
    height: calc(var(--block-height) * 2.8);
    z-index: 7;
}

.block.five {
    right: calc(var(--block-distance) * 86);
    height: calc(var(--block-height) * 2);
    z-index: 6;
}

.block.six {
    right: calc(var(--block-distance) * 13);
    height: calc(var(--block-height) * 2.6);
    width: calc(var(--block-width) * 1.7);
    z-index: 6;
    bottom: 8vw;
}

.block.seven {
    right: calc(var(--block-distance) * 38);
    height: calc(var(--block-height) * 2.6);
    width: calc(var(--block-width) * 3.7);
    z-index: 5;
    bottom: 8vw;
}

.block.eight {
    right: calc(var(--block-distance) * 75);
    height: calc(var(--block-height) * 3.7);
    width: calc(var(--block-width) * 1.5);
    z-index: 6;
    bottom: 8vw;
}

.block.nine {
    right: calc(var(--block-distance) * 85);
    height: calc(var(--block-height) * 1.4);
    width: calc(var(--block-width) * 1.3);
    z-index: 5;
    bottom: 8vw;
}

.block.ten {
    right: calc(var(--block-distance) * 0);
    height: calc(var(--block-height) * 1.4);
    width: calc(var(--block-width) * 3.5);
    z-index: 5;
    bottom: 4.5vw;
}

.block.eleven {
    right: calc(var(--block-distance) * 47);
    height: calc(var(--block-height) * 1.4);
    width: calc(var(--block-width) * 2);
    z-index: 5;
    bottom: 4.5vw;
}

.block.twelve {
    right: calc(var(--block-distance) * 80);
    height: calc(var(--block-height) * 1.4);
    width: calc(var(--block-width) * 3.5);
    z-index: 5;
    bottom: 4.5vw;
}

.block.twelve:before,
.block.eleven:before,
.block.ten:before {
    width: calc(var(--block-width) * .5);
    ;
}

.block.twelve:after,
.block.eleven:after,
.block.ten:after {
    height: calc(var(--block-width) * .5);
}



.block:before,
.block:after {
    position: absolute;
    transform-origin: bottom left;
    content: '';
}

.block:before {
    top: 0;
    left: 100%;
    bottom: 0;
    width: calc(var(--block-width) * .8);
    ;
    background: black;
    transform: skewY(-45deg);
}

.block:after {
    right: 0;
    bottom: 100%;
    left: 0;
    height: calc(var(--block-width) * .8);
    background: silver;
    transform: skewX(-45deg);
}

.wall {
    width: 30vw;
    height: 17vw;
    right: 15vw;
    bottom: 5vw;
    z-index: 5;
    transform: perspective(100px) translateZ(-155px);
}

.block.wall:before {
    width: calc(var(--block-width) * .2);
    ;
}

.block.wall:after {
    height: calc(var(--block-width) * .2);
}

.streat {
    width: 100%;
    height: 18vw;
    background: rgb(65, 54, 54);
    position: absolute;
    z-index: 0;
    bottom: 0;
    background-size: 87ch;
    overflow: hidden;
}

.lanes {
    width: 8vw;
    height: 0.8vw;
    background: rgb(204, 202, 202);
    position: absolute;
    top: 10.5vw;
    right: 55vw;
    transform: skewX(-40deg);
    box-shadow: 0 -2vw 0 0 rgb(204, 202, 202), 0 -4vw 0 0 rgb(204, 202, 202), 0 -6vw 0 0 rgb(204, 202, 202),
        0 -8vw 0 0 rgb(204, 202, 202);
}

.streat:nth-of-type(2) {
    bottom: 36vw;
    height: 10vw;
}

.streat:nth-of-type(2) .lanes {
    bottom: 0;
    right: 97vw;
}

.streat:nth-of-type(2) .target {
    width: 5vw;
    bottom: 0vw;
    height: 7.4vw;
}

.streat:nth-of-type(2) img {
    height: 7vw;
}

.pavement {
    width: 100%;
    height: 18vw;
    background: rgb(0, 0, 0);
    bottom: 18vw;
    position: absolute;
    box-shadow: 0 0.6vw 0 0 black;
}


.pavement-top {
    width: 100%;
    height: 12vw;
    background: rgb(0, 0, 0);
    bottom: 45vw;
    position: absolute;
    box-shadow: 0 0.6vw 0 0 black;
    overflow-x: hidden;
}

.pavement-brick {
    width: 10vw;
    height: 100%;
    position: absolute;
    background: rgb(85, 91, 93);
    float: left;
    right: 100%;
    transform: skewX(-35deg);
    box-shadow:
        10.2vw 0 0 0 rgb(85, 91, 93),
        20.4vw 0 0 0 rgb(85, 91, 93),
        30.6vw 0 0 0 rgb(85, 91, 93),
        40.8vw 0 0 0 rgb(85, 91, 93),
        51vw 0 0 0 rgb(85, 91, 93),
        61.2vw 0 0 0 rgb(85, 91, 93),
        71.4vw 0 0 0 rgb(85, 91, 93),
        81.6vw 0 0 0 rgb(85, 91, 93),
        91.8vw 0 0 0 rgb(85, 91, 93),
        102vw 0 0 0 rgb(85, 91, 93),
        112.2vw 0 0 0 rgb(85, 91, 93);
    z-index: 1;

}

.hitbox-head {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 0;
    z-index: 100;
    cursor: pointer;
}

.hitbox-body {
    width: 90px;
    height: 100px;
    position: absolute;
    left: 35px;
    top: 45px;
    z-index: 100;
    cursor: pointer;
}

.score {
    position: absolute;
    z-index: 150;
    background: black;
    color: white;
    width: 8vw;
    height: 3.5vw;
    bottom: 18vw;
    right: 7vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    place-items: center;
}

.score:before {
    content: '';
    position: absolute;
    width: .4vw;
    height: 1.5vw;
    bottom: -1.5vw;
    background: black;
    box-shadow: 4.6vw 0 0 0 black;
    right: 6vw;
}

.target {
    width: 7.3vw;
    height: 10.3vw;
    overflow: hidden;
    transform: rotateY(180deg) translateX(-200%);
    position: absolute;
    left: 100%;
    bottom: 5vw;
    display: flex;
}

img {
    animation: walk 1s steps(8) infinite;
    height: 10vw;
}

@keyframes walk {
    0% {}

    100% {
        transform: translateX(-100%)
    }
}

@keyframes run {
    0% {}

    100% {
        transform: translateX(-2100%) rotateY(180deg)
    }
}

.restart {
    width: 10vw;
    height: 4vw;
    right: 1.5vw;
    bottom: 17.5vw;
    z-index: 5;
    text-align: center;
    font-size: 2vw;
    line-height: 3.5vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.restart:hover {
    color: goldenrod;
    background: rgb(83, 84, 85);
}

.restart-supports {
    position: absolute;
    width: .5vw;
    height: 1.5vw;
    background: black;
    right: 8vw;
    bottom: -1.5vw;
    box-shadow: 6.5vw 0 0 0 black;
}

.block.restart:before {
    width: calc(var(--block-width) * .07);
    ;
}

.block.restart:after {
    height: calc(var(--block-width) * .07);
}

.alert {
    background-image: url(images/ekran.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 150;
    width: 9vw;
    height: 5vw;
    transition: .3s;
    color: black;
    font-size: 1.5vw;
    right: 9vw;
    bottom: 8vw;
    display: flex;
    justify-content: center;
    place-items: center;
}

.alert p {
    animation: HeadshotAlert .6s linear forwards;
    position: absolute;
}

@keyframes HeadshotAlert {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1);

    }

    50% {
        transform: scale(.7);

    }

    75% {
        transform: scale(1);

    }

    100% {
        transform: scale(1);
    }
}