@media (max-width: 830px) {
    main {
        height: 620px;
    }

    .box-button {
        font-size: 3vw;
    }

    .in-column span {
        margin-left: -27px;
    }

    .column p {
        font-size: 2vw;
    }

    .informations {
        height: 800px;
    }

    .inf-box p {
        font-size: 2vw;
        margin-top: 30px;
    }

    .informations button {
        font-size: 4vw;
    }

    .drops {
        height: 620px;
    }

    .drop span {
        padding: 10px 7px;
        font-size: 2vw;
    }

    footer {
        height: 100px;
        font-size: 1.4vw;
    }
}

@media (max-width: 650px) {
    .column {
        height: 550px;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .column:nth-of-type(1) {
        height: auto;
    }

    .box {
        margin: 20px;
    }

    .column h1 {
        font-size: 3.5rem;
    }

    .column p {
        font-size: 1.7rem;
    }

    .box-button {
        width: 60vw;
        font-size: 6vw;
        left: calc(50% - 60vw/2);
    }

    .circle {
        width: 65vw;
        height: 65vw;
    }

    .in-column span {
        font-size: 10vw;
        margin-left: 4px;

    }

    .inf-title {
        width: 100%;
        font-size: 8vw;
        border-left: none;
        border-right: none;
    }

    .informations {
        justify-content: none;
        padding-top: 100px;
        display: block;
        height: 1330px;
    }

    .inf-box {
        margin: 0;
        width: 100%;
        border-left: none;
        border-right: none;
        margin-bottom: 50px;
    }

    .inf-box h1 {
        font-size: 6vw;
    }

    .inf-box p {
        font-size: 3.5vw;
    }

    .informations button {
        white-space: nowrap;
        width: 45vw;
        font-size: 5vw;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 40vw/2);
        display: flex;
        justify-content: center;
        place-items: center;
    }

    .drops {
        display: block;
        padding-top: 150px;
        height: 1550px;
    }

    .drop {
        margin: 0;
        margin-top: 20px;
        width: 70%;
        margin-left: calc(50% - 70%/2);
    }

    .i-box {
        font-size: 40vw;
    }

    .drop span {
        font-size: 5vw;
    }

    .drops-btn {
        bottom: 20px;
    }
}

@media (max-width: 500px) {
    .informations {
        height: 1230px;
    }

    .drops {
        height: 1320px;
    }
}

@media (max-width: 350px) {
    .informations {
        height: 1060px;
    }

    .drops {
        height: 1170px;
    }
}